<!DOCTYPE html>
<html>
<body>

<h1>Display Text Input Fields</h1>

<form action="index.php">
  <label for="fname">address: </label>
  <input type="text" id="ip" name="ip"><br><br>
  <input type="submit" value="Submit">
</form>

<p>Click on the submit button to ping host.</p>

</body>
</html>
